
.vs/Boxer/DesignTimeBuild/

.vs/Boxer/v16/

Boxer.Console/.vs/Boxer/DesignTimeBuild/

Boxer.Console/.vs/Boxer/v16/

Boxer.Console/bin/Debug/netcoreapp3.1/

Boxer.Console/obj/Debug/netcoreapp3.1/

Boxer.Library/.vs/Boxer.Library/v16/

Boxer.Library/.vs/Boxer.Library/DesignTimeBuild/

Boxer.Console/obj/

Boxer.Library/bin/Debug/netstandard2.0/


Boxer.Library/obj/Debug/netstandard2.0/

Boxer.Packers/bin/Debug/netstandard2.0/

Boxer.Packers/obj/Debug/netstandard2.0/
